.alive{
  color: green;
}

.dead{
  color: red;
}

.images{
cursor: pointer;
}


footer{
  padding: 20px;
  text-align: center;
  background-color: rgb(39, 37, 37);
}

footer a{
  text-decoration: none;
  color:  white;
  font-size: 1.5rem;
}

footer a:hover{
  color:rgb(212, 207, 207);
}

.namePage a{
  text-decoration: none;

  color: whitesmoke;
}